<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>VideoOverlayCamera</string>
    <key>CFBundleIdentifier</key>
    <string>com.videooverlay.dal-plugin</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>VideoOverlayCamera</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFPlugInDynamicRegistration</key>
    <string>NO</string>
    <key>CFPlugInFactories</key>
    <dict>
        <key>ECA38A44-7F4B-44B2-B8D2-7D696D9F1B87</key>
        <string>VOCPlugInFactory</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>ABA75B20-E8A0-11D5-AFBF-001124C06E08</key>
        <array>
            <string>ECA38A44-7F4B-44B2-B8D2-7D696D9F1B87</string>
        </array>
    </dict>
</dict>
</plist>
